MAIL_MAILER=smtp
MAIL_HOST=mail.example.com
MAIL_PORT=465
MAIL_USERNAME=info@example.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@example.com
MAIL_FROM_NAME="IPECS"

CONTACT_TO_ADDRESS=ipecs.pk@gmail.com
CONTACT_TO_NAME="IPECS Consulting"
